body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-attachment: fixed;
    background-repeat: no-repeat;  /* prevents tiling */
    overflow: auto;
    scrollbar-width: none;     /* Firefox */
   -ms-overflow-style: none;  /* IE/Edge */

}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


.profile-card {
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.919); */
    background-color: rgba(0, 0, 0, 0.919);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #1e1d1d;
    text-align: center;
    width: 500px;
    height: 350px;
    animation: profile-card 0.5s ease-out forwards;
    overflow-y: auto;
    scrollbar-width: none;     /* Firefox */
   -ms-overflow-style: none;  /* IE/Edge */

}
.profile-card::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}


/* 
.profile-card:hover {
    height: 90%;
} */
@keyframes profile-card {
  from {
    height: 350px;
  }
  to {
    height: 90%;
  }
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1{
    margin: 30px;
    font-size: 1.5em;
    color: aliceblue;
    transition-duration: 0.5s;
}
h1:hover{
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}
h2{
    margin: 60px 0 5px;
    font-size: 2em;
    color: aliceblue;
    transition-duration: 0.5s;
}
h2:hover{
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}
h6 {
    color: #777;
    font-size: 1em;
    margin: 5px 0 15px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #d8d2d2;*/
}

p {
    font-size: 0.9em;
    color: #d8d2d2;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #555; */
    transition-duration: 0.5s;
}
p:hover{
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}

.social-links {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #555;
    transition-duration: 0.5s;

}
.social-links:hover{
    scroll-margin-left: 50px;
    margin-left: 50px;
    scroll-margin-right: 50px;
    margin-right: 50px;
    padding-top: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}
.social-links img {
    width: 30px;
    padding-bottom: 10px;
    margin: 0px 20px;
}

.blog-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #70009c8d;
    color: rgb(178, 177, 177);
    border-radius: 5px;
    text-decoration: none;
    position:fixed;
    transition-duration: 0.2s; 
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}

.blog-link:hover {
    background-color: #2c0236c5;
    color:rgb(197, 197, 197);
    padding-right: 50px;
    padding-left: 50px;
}



/*profilecard */
.profile-card {
    perspective: 1000px;
    margin: 0px 0px;
}
.profile-card:hover{
    background-color: rgb(0, 0, 0);
}
.profile-card-inner {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}
.profile-card-back {
    position: fixed;
    backface-visibility: hidden;
    border-radius: 0px;
}

.profile-card-back {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: -154px;
    transform: rotateY(180deg);
}

.swapped .profile-card-inner {
    transform: rotateY(180deg);
}


.profile-card:hover .profile-card-inner {
    transform: rotateY(180deg);
}



.nav-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8d5f5b4;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2em;
}

.nav-link:hover {
/*    background-color: #de96ff;*/
    background-color: #f8d5f5;
}

.nav-link2{
    color: #e7b6ff;
    text-decoration: none;
    align-items: start;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
/*Flashcard 1*/
.flashcard1 {
    perspective: 1000px;
    margin: 0px auto;
    /* position: fixed */
    width: 500px;
}

.flashcard1-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.flashcard1-back {
    position: relative;
    backface-visibility: hidden;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.0001);
}

.flashcard1-back {
    background-color: rgba(120, 118, 118, 0.155);
    backdrop-filter: blur();
    border: 1px solid rgba(175, 175, 175, 0);
    display: list-item;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 500px;
    padding: 0px;
    position: relative;
    margin-top: -110%;
    margin-right: 0;
    transform: rotateY(180deg);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.tile {
    width: auto;
    background-color: #00000072;
    background-size: auto;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
    border: 1px solid #c0bdbd00;
    border-radius: 5px;
    padding: 40px 0px;
    margin: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    transition-duration: 0.5s;
}
.tile:hover{
    padding: 50px;
    background-color: #3d034b81;
}
.close{
    width: auto;
    padding: 20px 0px;
    margin: 10px;
    transition-duration: 0.5s;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.close:hover{
    background-color: rgba(255, 0, 0, 0.214);
    border-radius: 5px;
}
.close-link{
    background-color: transparent;
    display: inline-block;
    padding: 5px 30px;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(210, 67, 0);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.close-link:hover{
    color: rgb(255, 0, 0);
    background-color: transparent;
    padding: 15px;
}
.flipped .flashcard1-inner {
    transform: rotateY(180deg);
}
/*
.flashcard1:hover .flashcard1-inner {
    transform: rotateY(180deg);
}
*/





/* Mobile Optimization */
@media (max-width: 600px) {
    .flashcard1-back {
        width: 100%;  /* Make navbar take full width */
    }

    .content-card,
    .intro {
        width: 90%;  /* Reduce width to fit mobile screens */
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 1.2em;  /* Reduce font size for mobile */
    }

    h6 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    .web-link {
        padding: 8px 12px;  /* Adjust padding for mobile */
    }
}
