body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.profile-card {
    position: relative;
    background-color: rgba(0, 0, 0, 0.919);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #1e1d1d;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 400px;
}
.avatar-container {
	position: absolute;
	top: -75px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    margin: 60px 0 5px;
    font-size: 1.5em;
    color: aliceblue;
    transition-duration: 0.5s;
}
h1:hover{
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}
h6 {
    color: #777;
    font-size: 1em;
    margin: 5px 0 15px;
    padding-bottom: 5px;
    /*border-bottom: 1px solid #d8d2d2;*/
}

p {
    font-size: 0.9em;
    color: #d8d2d2;
    padding-bottom: 5px;
    border-bottom: 1px solid #555;
    transition-duration: 0.5s;
}
p:hover{
    padding: 20px;
    border-radius: 5px;
    background-color: #2c2c2c7d;
}

.social-links {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #555;
    transition-duration: 0.5s;

}

.social-links a:hover img {
            filter: brightness(1.2) drop-shadow(0 0 10px #70009c);
            transform: scale(1.2) rotate(360deg);
        }
.social-links img {
    width: 30px;
    height: 40px;
    padding: 10px;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.blog-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #70009c8d;
    color: rgb(178, 177, 177);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.blog-link:hover {
    background-color: #2c0236c5;
    color:rgb(197, 197, 197);
    padding-right: 50px;
    padding-left: 50px;
}



/*profilecard */
.profile-card {
    perspective: 1000px;
    margin: 0px 0px;
}
.profile-card:hover{
    background-color: rgb(0, 0, 0);
}
.profile-card-inner {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}
.profile-card-back {
    position: fixed;
    backface-visibility: hidden;
    border-radius: 0px;
}

.profile-card-back {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: -154px;
    transform: rotateY(180deg);
}

.swapped .profile-card-inner {
    transform: rotateY(180deg);
}


.profile-card:hover .profile-card-inner {
    transform: rotateY(180deg);
}



.nav-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8d5f5b4;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2em;
}

.nav-link:hover {
/*    background-color: #de96ff;*/
    background-color: #f8d5f5;
}

.nav-link2{
    color: #e7b6ff;
    text-decoration: none;
    align-items: start;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
/*Flashcard 1*/
.flashcard1 {
    perspective: 1000px;
    margin: 0px auto;
}

.flashcard1-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.flashcard1-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flashcard1-back {
    background-color: rgba(120, 118, 118, 0.155);
    backdrop-filter: blur();
    border: 1px solid rgba(175, 175, 175, 0);
    display: list-item;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 0px;
    position: auto;
    margin-top: -80%;
    margin-right: 500px;
    transform: rotateY(180deg);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}

.tile {
    width: auto;
    background-color: #00000072;
    background-size: auto;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
    border: 1px solid #c0bdbd00;
    border-radius: 5px;
    padding: 40px 0px;
    margin: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    transition-duration: 0.5s;
}
.tile:hover{
    padding: 50px;
    background-color: #3d034b81;
}
.close{
    width: auto;
    padding: 20px 0px;
    margin: 10px;
    transition-duration: 0.5s;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.close:hover{
    background-color: rgba(255, 0, 0, 0.214);
    border-radius: 5px;
}
.close-link{
    background-color: transparent;
    display: inline-block;
    padding: 5px 30px;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(210, 67, 0);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.close-link:hover{
    color: rgb(255, 0, 0);
    background-color: transparent;
    padding: 15px;
}
.flipped .flashcard1-inner {
    transform: rotateY(180deg);
}
/*
.flashcard1:hover .flashcard1-inner {
    transform: rotateY(180deg);
}
*/


/* Mobile Optimization */
@media (max-width: 600px) {
    body {
        padding: 5px;
        align-items: flex-start;
        padding-top: 20px;
    }
    
    .profile-card {
        width: 95%;
        max-width: none;
        margin: 0;
        padding: 15px;
    }
    
    .flashcard1-back {
        width: 100%;
        margin-left: -15px;
        margin-right: 0;
    }

    .avatar-container {
        width: 120px;
        height: 120px;
        top: -60px;
    }
    
    .profile-img {
        width: 120px;
        height: 120px;
    }
    
    h1 {
        font-size: 1.2em;
        margin: 50px 0 5px;
    }

    h6 {
        font-size: 0.9em;
    }

    p {
        font-size: 0.8em;
    }

    .social-links img {
        width: 25px;
        height: 35px;
        padding: 8px;
    }
    
    .tile {
        padding: 30px 0px;
        margin: 8px;
        font-size: 1.2em;
    }
    
    .tile:hover {
        padding: 35px;
    }
}
