* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", "Nunito", "Poppins", sans-serif;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    /* background-image: url("map.png"); */
	background-color:#2B2B2B;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("map.png");
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* adjust blur */
    z-index: -1;         /* stay behind all content */
}
.map {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid #000000;
}

.map img{
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: auto;
    display: block;
    filter: blur(20px);
    overflow: hidden;
    animation: unblur 3s forwards;
}

@keyframes unblur {
    from { filter: blur(20px); }
    to   { filter: blur(0px); }
}

.profile-card {
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.919);
    padding: 0px;
    padding-top: 20px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 2px solid #000000;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 400px;
}
.avatar-container {
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	width: 154px;
	height: 154px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2); /* transparent layer */
    backdrop-filter: blur(2px);          /* the actual blur */
    -webkit-backdrop-filter: blur(2px);  /* for Safari */
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    width: auto;
}

h1 {
    margin: 60px 0 5px;
    font-size: 1.5em;
    color: aliceblue;
    transition-duration: 0.5s;
}
h1:hover{
    color: #d277f7ad;
}
h6 {
    color: #777;
    font-size: 1em;
    margin: 0 15px;
    padding-bottom: 0px;
    /* border-radius: 10px; */
    /* border-bottom: 1px solid #77777765; */
    /*border-bottom: 1px solid #d8d2d2;*/
}

p {
    font-size: .95em;
    color: #d8d2d2e3;
    padding: 5px;
    border: 1px solid #000000;
    border-bottom: 1px solid #555;
    transition-duration: 0.5s;
    text-align: justify;
    margin: 5px 10px;
    line-height: 1.2;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
}

p:hover{
    border: 1px solid #555;
    color: #fff;
    border-radius: 10px;
    background-color: #2c2c2c7d;
}


/* p:hover{
    border-radius: 10px; 
   background-color: #2c2c2c7d; 
    color: white;
    background: #2032428e; 
    background-image: url("map.png");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #203242;
}  */
 /* p::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("map.png");
  background-size: cover;
  background-position: center;

  opacity: 0;
  filter: blur(0);
  transform: scale(1);

  transition: opacity 0.5s ease, filter 0.5s ease, transform 0.5s ease;
  z-index: -1;
}
p:hover::before {
  opacity: 1;
  filter: blur(10px);
  transform: scale(1.1);

} */
.social-links {
    border-bottom: 1px solid #555;
    transition-duration: 0.5s;
    padding: 10px;

}

.social-links a:hover img {
            filter: brightness(1.2) drop-shadow(0 0 10px #70009c);
            transform: scale(1.2) rotate(360deg);
        }
.social-links img {
    width: 30px;
    height: 40px;
    padding: 10px;
    filter: brightness(0.8);
    transition: all 0.3s ease;
    width: auto;

}

.blog-link {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #70009c8d;
    color: rgb(178, 177, 177);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.blog-link:hover {
    background-color: #70009cdc;
    color:rgb(178, 177, 197);
    padding-right: 50px;
    padding-left: 50px;
}



/*profilecard */
.profile-card {
    perspective: 1000px;
    margin: 0px 0px;
}
.profile-card:hover{
    background-color: rgb(0, 0, 0);
}
.profile-card-inner {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    backface-visibility: hidden;
}
.profile-card-back {
    position: fixed;
    backface-visibility: hidden;
    border-radius: 0px;
}

.profile-card-back {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: -154px;
    transform: rotateY(180deg);
}

.swapped .profile-card-inner {
    transform: rotateY(180deg);
}


.profile-card:hover .profile-card-inner {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}



.nav-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8d5f5b4;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(54, 52, 52);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 2em;
}

.nav-link:hover {
/*    background-color: #de96ff;*/
    background-color: #f8d5f5;
}

.nav-link2{
    color: #e7b6ff;
    text-decoration: none;
    align-items: start;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
/*Flashcard 1*/
.flashcard1 {
    perspective: 1000px;
    margin: 0px auto;
}

.flashcard1-inner {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.flashcard1-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flashcard1-back {
    /* background-color: rgba(120, 118, 118, 0.155); */
    background-color: #49494933;
    backdrop-filter: blur();
    border: 2px solid rgba(120, 118, 118, 0.155);
    display: list-item;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 0px;
    position: auto;
    margin-top: -85%;
    margin-right: 500px;
    transform: rotateY(180deg);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.tile {
    width: auto;
    background-color: #00000072;
    background-size: auto;        /* makes the image cover the entire div */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents tiling */
    border: 1px solid #c0bdbd00;
    border-radius: 5px;
    padding: 40px 0px;
    margin: 10px;
    margin-bottom: 20px;
    color: aliceblue;
    transition-duration: 0.5s;
}
.tile:hover{
    padding: 50px;
    background-color: #3d034b81;
}
.close{
    width: auto;
    padding: 20px 0px;
    margin: 10px;
    transition-duration: 0.5s;
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}
.close:hover{
    background-color: rgba(255, 0, 0, 0.214);
    border-radius: 5px;
}
.close-link{
    background-color: transparent;
    display: inline-block;
    padding: 5px 30px;
    /*border: 1px solid #bcbfc2;*/
    color: rgb(210, 67, 0);
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
}
.close-link:hover{
    color: rgb(255, 0, 0);
    background-color: transparent;
    padding: 15px;
}
.flipped .flashcard1-inner {
    transform: rotateY(180deg);
}
/*
.flashcard1:hover .flashcard1-inner {
    transform: rotateY(180deg);
}
*/


/* Mobile Optimization */
@media (max-width: 600px) {
    body {
        padding: 0px;
        align-items: center;
        padding-top: 0px;
    }
    
    .profile-card .map  {
        width: 95%;
        max-width: none;
        margin: 0;
        padding: 15px;
    }
    .flashcard1-back {
        width: auto;
        min-width: 100%;
    }
  
     p {
        font-size: 0.8em;
    }

    .social-links img {
        width: 25px;
        height: 35px;
        padding: 8px;
        width: auto;
    }
    
    .tile {
        padding: 30px 0px;
        margin: 8px;
        font-size: 1.2em;
    }
    
    .tile:hover {
        padding: 35px;
    }
}
